//<Шрифт по умолчанию>==========================================================================================
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

$fontFamily: "Roboto", sans-serif;
$badScript: "Bad Script", cursive;

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1440;
$md1: $maxWidthContainer;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
   color: #fff;
   font-size: 25px;
   background-color: #202024;
   &._lock {
      overflow: hidden;
   }
}
//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
   width: 100%;
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}
//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
   max-width: $maxWidthContainer + px;
   margin: 0 auto;
   @media (max-width: $md1+px) {
      max-width: 970px;
   }
   @media (max-width: $md2+px) {
      max-width: 750px;
   }
   @media (max-width: $md3+px) {
      max-width: none;
      padding: 0 10px;
   }
}
.page {
   flex: 1 1 auto;
}

@import "popup";
//<ОСНОВНОЙ БЛОК>====================================================================================================
.btn {
   background: linear-gradient(90deg, rgba(246, 200, 102, 0.9) -6.2%, rgba(254, 173, 53, 0.9) 100%);
   border-radius: 50px;
   width: 310.75px;
   height: 69.44px;
   font-size: 20px;
   line-height: 23px;
   color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   &_green {
      margin: 0 auto;
      background: linear-gradient(90deg, rgba(76, 217, 100, 0.9) -6.2%, rgba(50, 185, 73, 0.9) 100%);
   }
   @media (max-width: $md3+px) {
      width: 182px;
      height: 40px;
      font-size: 14px;
      line-height: 16px;
   }
}

.button {
   width: 310.75px;
   height: 69.44px;
   background: linear-gradient(90deg, rgba(246, 200, 102, 0.9) -6.2%, rgba(254, 173, 53, 0.9) 100%);
   border-radius: 50px;
   font-size: 20px;
   line-height: 23px;
   color: #fff;
   margin: 0px 0px 34px 0px;
   @media (max-width: $md3+px) {
      width: 182px;
      height: 40px;
      font-size: 14px;
      line-height: 16px;
      margin: 0px 0px 15px 0px;
   }
}
.error {
   border: 2px solid red;
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
.head {
   background: url(../img/blik.png) 0 0 / 100% 100% no-repeat;
   // .head__content

   &__body {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      span {
         border-bottom: 1px solid rgba(255, 255, 255, 0.2);
         width: 100%;
      }
   }
   // .head__title

   &__title {
      padding: 19px 0px 19px 0px;
      font-size: 16px;
      font-weight: 300;
      line-height: 19px;
      letter-spacing: 0.1em;
      color: rgba(255, 255, 255, 0.6);
      @media (max-width: $md3+px) {
         font-size: 12px;
         line-height: 14px;
         padding: 10px 0px 10px 0px;
      }
   }

   // .head__subtitle

   &__subtitle {
      padding: 12px 0px 42px 0px;
      font-weight: 300;
      line-height: 29px;
      text-align: center;
      letter-spacing: 0.1em;
      color: rgba(255, 255, 255, 0.6);
      @media (max-width: $md3+px) {
         font-size: 20px;
         line-height: 23px;
         padding: 10px 0px 24px 0px;
      }
   }

   // .head__background-foto

   &__background-foto {
      position: relative;
      width: 390.6px;
      height: 390.6px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: $md3+px) {
         width: 225px;
         height: 225px;
      }
      img {
         width: 237.83px;
         height: 237.83px;
         @media (max-width: $md3+px) {
            width: 137px;
            height: 137px;
         }
      }
      &::before {
         content: "";
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         z-index: -1;
         background: url(../img/icon1.svg) 0 0 / contain no-repeat;
      }
   }

   // .head__discription

   &__discription {
      max-width: 500px;
      font-family: Roboto;
      font-size: 25px;
      line-height: 35px;
      text-align: center;
      color: #f6c866;
      padding: 0px 0px 40px 0px;
      @media (max-width: $md3+px) {
         font-size: 16px;
         line-height: 25px;
         padding: 0px 0px 24px 0px;
      }
   }

   // .head__button-one

   &__button-one {
      margin: 0px 0px 35px 0px;
      @media (max-width: $md3+px) {
         margin: 0px 0px 20px 0px;
      }
   }

   // .head__prediction

   &__prediction {
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.1em;
      color: rgba(255, 255, 255, 0.6);
      padding: 34px 0px 0px 0px;
      @media (max-width: $md3+px) {
         font-size: 12px;
         line-height: 14px;
         padding: 20px 0px 0px 0px;
      }
   }
}
//========================================================================================================================================================

.body {
   opacity: 0;
   // .body__content

   &__content {
      padding: 200px 0px 0px 0px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      @media (max-width: $md3+px) {
         padding: 90px 0px 0px 0px;
      }
   }

   &__item {
      border: 1px solid #fff;
      box-sizing: border-box;
      border-radius: 3px;
      padding: 128px 45px 84px 32px;
      position: relative;
      @media (max-width: $md3+px) {
         padding: 58px 10px 32px 10px;
      }
      &::after {
         content: "";
         position: absolute;
         width: 36%;
         height: 38%;
         top: -80px;
         left: 33%;
         background: url(../img/hands.png) 0 0 no-repeat;
         @media (max-width: $md3+px) {
            top: -43px;
            left: 39%;
            background: url(../img/hands.png) 0 0 / 78px 78px no-repeat;
         }
      }
   }

   // .body__text

   &__text {
      font-size: 25px;
      line-height: 35px;
      text-align: center;
      max-width: 365px;
      @media (max-width: $md3+px) {
         font-size: 16px;
         line-height: 25px;
      }
      span {
         color: #f6c866;
      }
   }

   // .body__picture

   &__picture {
      margin: 70px 0px 0px 0px;
      position: relative;
      height: 606px;
      width: 100%;
      background: url(../img/image7.jpg) 100% / cover no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: $md3+px) {
         height: 330px;
         margin: 20px 0px 0px 0px;
         background: url(../img/image7.jpg) 50% / cover no-repeat;
      }
      &::before {
         content: "";
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         background-color: rgba(0, 0, 0, 0.7);
      }
   }

   // .body__image-text

   &__image-text {
      position: relative;
      z-index: 1;
      color: #fff;
      font-size: 25px;
      line-height: 35px;
      text-align: center;
      max-width: 380px;
      @media (max-width: $md3+px) {
         font-size: 16px;
         line-height: 25px;
      }
      span {
         color: #f6c866;
      }
   }
}
._active {
   transition: 1.3s ease 0s;
   opacity: 1;
}
//========================================================================================================================================================
.quiz {
   // .quiz__content

   &__content {
      padding: 110px 0px 50px 0px;
      @media (max-width: $md2+px) {
         padding: 80px 0px 35px 0px;
         height: auto;
      }
      @media (max-width: $md3+px) {
         padding: 50px 0px 35px 0px;
      }
   }

   // .quiz__item

   &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      span {
         border-bottom: 1px solid rgba(255, 255, 255, 0.2);
         width: 100%;
      }
   }

   // .quiz__text

   &__text {
      max-width: 450px;
      font-size: 25px;
      line-height: 29px;
      text-align: center;
      text-transform: uppercase;
      color: #f6c866;
      padding: 50px 0px 47px 0px;
      @media (max-width: $md3+px) {
         font-size: 16px;
         line-height: 25px;
         padding: 36px 0px 30px 0px;
      }
   }

   &__button {
      display: flex;
      align-items: center;
      flex-direction: column;
      a {
         margin: 0px 0px 34px 0px;
         @media (max-width: $md3+px) {
            margin: 0px 0px 15px 0px;
         }
      }
   }
   // .quiz__questions

   &__questions {
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.1em;
      color: rgba(255, 255, 255, 0.6);
      padding: 70px 0px 0px 0px;
   }

   &__bottom {
      padding: 0px 0px 50px 0px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: url(../img/eye-1.svg) 100% 0% / 200px 150px no-repeat,
         url(../img/eye.svg) 0 100% / 200px 150px no-repeat;
      @media (max-width: $md3+px) {
         background: url(../img/eye-1.svg) top right -50px / 146px 77px no-repeat,
            url(../img/eye.svg) bottom left -50px / 146px 77px no-repeat;
      }
   }
}

.bottom {
   &__head-image {
      padding: 100px 0px 80px 0px;
      @media (max-width: $md3+px) {
         padding: 30px 0px 0px 0px;
      }
   }

   // .body__text

   &__text {
      font-family: $badScript;
      font-size: 25px;
      line-height: 35px;
      text-align: center;
      color: #fff;
      max-width: 300px;
      @media (max-width: $md3+px) {
         max-width: 235px;
         font-size: 16px;
         line-height: 25px;
      }
   }

   // .body__footer-image

   &__footer-image {
      padding: 40px 0px 0px 0px;
   }
}

.select-css {
   position: relative;
   width: 310.75px;
   height: 69.44px;
   font-size: 16px;
   color: #202024;
   line-height: 1.3;
   padding: 0.6em 1.4em 0.5em 0.8em;
   max-width: 100%;
   border-radius: 50px;
   appearance: none;
   background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat 95% #ddd;
   background-color: linear-gradient(90deg, rgba(228, 228, 228, 0.9) -6.2%, rgba(203, 203, 203, 0.9) 100%);
   margin: 0px 0px 30px 0px;
   text-align-last: center;
   option[default] {
      display: none;
   }
   @media (max-width: $md3+px) {
      width: 182px;
      height: 40px;
      font-size: 14px;
      line-height: 16px;
      margin: 0px 0px 20px 0px;
   }
}
//========================================================================================================================================================

//========================================================================================================================================================
.star-wars {
   width: 100%;
   text-align: center;
   overflow: visible;

   h1 {
      font-size: 32px;
      padding: 0px 0px 15px 0px;
      @media (max-width: $md3+px) {
         font-size: 25px;
         padding: 0px 0px 10px 0px;
      }
   }
   img {
      max-width: 500px;
      height: 300px;
      object-fit: cover;
      padding: 0px 0px 20px 0px;
      @media (max-width: $md3+px) {
         max-width: 250px;
         height: 150px;
         padding: 0px 0px 10px 0px;
      }
   }

   &__char {
      margin: 0 auto;
      max-width: 700px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      padding: 10px 0px 0px 0px;
      @media (max-width: $md3+px) {
         font-size: 16px;
      }
   }
}
.value {
   text-align: right;
   color: rgba(255, 255, 255, 0.7);
}
